.blog-content{
    .card {
        border: 1px solid #fff;
        background: transparent;
    }
    
    .card-title {
        color: $subtitle;
    }
    
    .card-img-top {
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .card-text{
        color: $paragraph;
    }

}