 /* Limiter le texte à 3 lignes et ajouter des points de suspension si le texte dépasse */
 .limited-text{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* Limite à 3 lignes */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}