
// Styles de la section
.service_section {
  .heading_container {
    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      color: $textColor;
    }
    p {
      font-size: 1.25rem;
      color: $textColor;
    }
  }

  .service-card {
    background: $degraded;
    border-radius: 10px;
    color: $textLight;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    img {
      filter: drop-shadow(0px 5px 10px rgba(255, 255, 255, 0.5));
    }

    .card-title {
      font-size: 1.25rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $white;
    }

    .card-text {
      font-size: 1rem;
      color: $textLight;
    }

    .btn{
      background-color: $primary1;
    }
  }
}
